@model IEnumerable<AppleId>;

@{
    ViewData["Title"] = "Apple IDs";
}
<p>
    <a asp-action="Create" class="btn btn-outline-success">Create New Apple ID</a>
</p>

<div class="border border-primary rounded p-3">
    <form asp-action="Index" method="get">
        <div class="mb-3">
        <label for="orderSelect" class="control-label lead">Sort By: </label>
        <select id="orderSelect" class="w-25 form-control d-inline" name="order">
            <option value="">--Order--</option>
            <option value="status">Status</option>
            <option value="email">Email</option>
            <option value="birth">Birth Day</option>
        </select>
        </div>
        <label for="statusSelect" class="control-label lead">Filter by Status:</label>
        <select id="statusSelect" class="form-control w-25 d-inline" name="status"
            asp-items="Html.GetEnumSelectList<AppleAccounts.Data.Enums.AppleIdStatus>()">
            <option value=@ViewBag.statusVal>@ViewBag.status</option>
        </select>
        <div class="form-check form-switch m-3">
            <input name="expired" class="form-check-input lead" type="checkbox" role="switch" id="expired"
                @if (ViewBag.expired) {<text>checked</text>}>
            <label class=" form-check-label lead" for="expired">Expired</label>
        </div>
        <button class=" btn btn-outline-primary d-inline mb-1" type="submit"><i class="bi bi-funnel-fill"></i>Filter
        </button>
    </form>
</div>

<div class="table-responsive">

    <table class="table table-striped">
        <thead>

            <tr class="h4">
                <th asp-sort-order="Id">Email</th>
                <th>Status</th>
                <th>Birth Day</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var appleId in Model)
            {


                <tr class="lead">
                    <td class="lead">@appleId.Email</td>
                    <td class="">@appleId.Status</td>
                    <td>@TimeZoneInfo.ConvertTimeToUtc(appleId.BirthDay).ToString("MMMM, d, yyyy")</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@appleId.Id" class="border-0 rounded-pill border-0 btn btn-outline-secondary">
                            <i class="bi bi-pencil-fill"></i></a> |
                        <a asp-action="Details" asp-route-id="@appleId.Id" class="border-0 rounded-pill btn btn-outline-info">
                            <i class="bi bi-info-circle-fill"></i></a> |
                        <a asp-action="Delete" asp-route-id="@appleId.Id" class="border-0 rounded-pill btn btn-outline-danger">
                            <i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>

            }

        </tbody>
    </table>
</div>

@if (!Model.Any())
{
    <div class="alert alert-info" role="alert">
    No Apple IDs found.
</div>
}